{% extends 'base.html' %}

{% set title = 'UpToBox - Publisher - CGU' %}

{% block content %}
    <div class="px-4 py-5 mt-5 text-center">
        <h1 class="display-5 fw-bold">UpToBox - Publisher</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">Partagez à la communauté vos liens de vos fichiers UpToBox</p>
        </div>
    </div>
    <div class="container container-fluid">
        <div class="m-3 text-justify">
            <h3>Conditions générales d'utilisation</h3>
            <p>Cette page permet uniquement de partager des liens uptobox, il n'héberge <span class="text-decoration-underline fw-bold">aucun fichier.</span></p>
            <p>Les liens vers de la pornographie, nudité, image à caractère sexuelle ou n'importe quel type d'image ou de vidéo à caractère offensif sont interdites. Le matériel soumis à un droit d'auteur est également strictement interdit. Nous nous réservons le droit de décider de la qualification d'un contenu, approprié ou non, et de supprimer un lien quel qu'il soit sans aucune notification.</p>
            <p>L'utilisateur accepte de se soumettre à toutes les lois appliquées à sa localisation, notamment les lois relatives aux droits d'auteur et aux marques déposées. Les liens d'images, vidéos et fichiers violant un droit d'auteur ou une marque déposée sont prohibées. Si un tier dépose une réclamation d'infraction envers un lien, il sera supprimer. Si un conflit émerge entre plusieurs tiers sur notre service, on se réserve le droit de ne pas intervenir.</p>
            <hr/>
            <p>En tant que référenceur de liens, nous n'hébergeons aucun fichier, la seule fonction que nous proposons est le référencement de liens proposés par tous utilisateur du site le souhaitant en remplissant le formulaire en page d'accueil. Nous respectons les lois en vigueur dans les pays des ayants droits, à ce titre nous proposons à ceux-ci de nous signaler tout liens d'œuvre et de contenus protégées. Ceux-ci seront déférences suivant les indications ci-après dans un délai raisonnable (notre équipe est bénévole et s'en occupe sur son temps libre) nous permettant de procéder aux vérifications et à la suppression.</p>
            <p>L'adresse mail pour rapporter du contenu est contact@uptobox.live</p>
            <p>En cas de contenu pornographique/pédopornographique : N'importe qui peux envoyer un e-mail à avec les liens concernés. Ils seront supprimés dans un délai de 24h à 48h à réception de l'e-mail</p>
            <p>En cas de contenu soumis aux droit d'auteur dont vous êtes l'ayant droit : la procédure est simplifiée, il vous suffit de nous contacter avec une adresse mail professionnelle (nom de domaine pro) et le lien sera déréférencé dans les 24h à 48h, il ne pourra plus être ajouté et les liens uptobox comportant le même nom non plus"</p>
            <p>Pour le retrait du contenu (fichier), il vous faut vous adresser au département "Abuse" de Uptobox : https://uptobox.com/support</p>
            <hr/>
            <p>Nous nous engageons à coopérer avec n'importe quelle autorité compétente si une investigation devrait survenir.</p>
            <p>Il n'y a <span class="text-decoration-underline fw-bold">aucun</span> système de cookie sur le site, ni de Google Analytics ou tout autre système de tracking utilisateur. De même, il n'y a ni publicité ou ni lien d'affiliation. Ils sont donc automatiquement supprimés des URLs qui sont partagés. L'ensemble des liens est téléchargeable à tout moment par tout utilisateur.</p>
            <p>Le site est ouvert uniquement du vendredi 20h au lundi 8h de chaque semaine</p>
        </div>
    </div>
{% endblock %}